.new-collections{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 100px;

   
}

.new-collections h1{
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.new-collections hr{
    width: 130px;
    border-radius: 10px;
    background: rgb(70, 66, 66);
}


.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 20px;
}

/* the same as above but using flex display */
/* .collections{
    display: flex;
    margin-top: 40px;
    gap: 20px;
    flex-wrap: wrap;
} */