.productdisplay{
    display: flex;
    margin: 0px 170px;
}

.productdisplay-left{
    display: flex;
    gap: 20px;
}

.productdeslay-img-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productdeslay-img-list img{
    height: 170px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid rgb(140, 132, 132);
}

.productdisplay-main-img{
    width: 450px;
    height: 550px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid rgb(140, 132, 132);
}

.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1 {
    color: black;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: black;
    font-size: 16px;

}

.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price{
    color: brown;
}

.productdisplay-right-description{
    text-wrap: wrap;
    font-weight: 500;
    font-size: 15px;
}

.productdisplay-right-size {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productdisplay-right-size div{
    padding: 18px 24px;
    background: whitesmoke;
    border: 1px solid black;
    cursor: pointer;
}

.productdisplay-right-size h1{
    margin-top: 55px;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    color: white;
    background: brown;
    border: none;
    outline: none;
    cursor: pointer;
}