.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img{
    height: 40px;
    padding-top: 20px;
}

.footer-logo p {
    font-size: 20px;
    font-weight: 600;
    color: rgb(18, 83, 5);
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgb(77, 76, 76);
    font-size: 15px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon{
    display: flex;
    gap: 30px;
} 

.footer-icon-container{
    /* padding: 3px; */
    /* padding-bottom: 6px; */
    border: none;
}

.footer-icon-container img {
    height: 20px;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
    color: black;
    font-size: 13px;
}

.footer-copyright hr{
    width: 65%;
    border: none;
    height: 1px;
    background: rgb(77, 76, 76, 0.4);;
}