.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(180deg, rgb(61, 60, 61, 0.4),  white 100%);
    margin: auto;
}

/* newsletter{
    width: 75%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 70px;
    padding: 0px 140px;
    gap: 30px;
    background: linear-gradient(180deg, rgb(61, 60, 61, 0.4),  white 100%); */

.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img{
    height: 40px;
    padding-top: 20px;
}

.footer-logo p {
    font-size: 20px;
    font-weight: 600;
    color: rgb(18, 83, 5);
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgb(77, 76, 76);
    font-size: 15px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon{
    display: flex;
    gap: 30px;
} 

.footer-icon-container{
    /* padding: 3px; */
    /* padding-bottom: 6px; */
    border: none;
}

.footer-icon-container img {
    height: 20px;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
    color: black;
    font-size: 13px;
}

.footer-copyright hr{
    width: 65%;
    border: none;
    height: 1px;
    background: rgb(77, 76, 76, 0.4);;
}

/* newsletter css */

/* .newsletter{
    width: 75%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 70px;
    padding: 0px 140px;
    gap: 30px;
    background: linear-gradient(180deg, rgb(61, 60, 61, 0.4),  white 100%);
} */

.newsletter h1{
    color: black;
    font-size: 30px;
    font-weight: 600;
}

.newsletter p{
    color: black;
    font-size: 15px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 400px;
    height: 40px;
    border-radius: 60px;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    font-family: Poppins;
    font-size: 15px;
}

.newsletter div button{
    width: 130px;
    height: 40px;
    border-radius: 60px;
    background: rgb(64, 63, 63);
    color: white;
    cursor: pointer;
    font-size: 15px;
}